@mixin container {
  width: 100%;
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}
